.help-block{
	display: none;
}
.has-success{
	input, textarea{
		border: 5px solid @success;
	}
}
.has-error{
	input, textarea{
		border: 5px solid @error;
	}
	.help-block{
		display: block;
	}	
}

.sidebar{
	.has-success{
		input, textarea{
			border: 3px solid @success;
		}
	}
	.has-error{
		input, textarea{
			border: 3px solid @error;
		}
	}
}

.form-group{
	text-align: center;
	flex: 0 0 100%;
	max-width: 100%;
	margin-bottom: 20px;	
}

.field-question-recaptcha .g-recaptcha > div { 
	margin: 0 auto
}

.form-group{

}