.overlay {
	padding-top: 75px;
    position: fixed;
    z-index: 8;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: @body-bg-overlay;
    transition: opacity 200ms;
    // visibility: hidden;
    // opacity: 0;
    display: none;
    // pointer-events: none;

    &:target {
        // visibility: visible;
        // opacity: 1;
        // display: block;
        // pointer-events: auto;
    }

}
// body .overlay:target{
//     overflow-y: hidden;
//     position: fixed;
// }
